@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
.center{
  max-width: 640px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: white;
  border-radius: 4px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
.title{
  width: 240px; height: 32px;
  margin-top: 32px;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 5px;
  background: linear-gradient(135deg, #0681d3, #6ebcf0);
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.info_guide {
  margin: -5px 0 20px 5px;
  color: #0d3a5a;
  cursor: pointer;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.forgot-email {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  position: relative;
}
.forgot-email-text {
  color: #005e9c;
  text-decoration: none;
  cursor: pointer;
}
.forgot-email-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 0;
    background: #fff;
    border-radius: 24px;
    overflow-y: hidden;
    transition: .5s;
}
.forgot-email:hover > .forgot-email-info {
    margin-top: 48px;
    padding: 12px 0;
    height: 150px;
}
.forgot-email-info > span {
    display: flex;
}
.forgot-email-info > span > b {
    margin-left: 4px;
}
.lc {
  margin-top: 48px;
}