@charset "UTF-8";
input[type="checkbox"] {
    cursor: pointer;
}
.search-result {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
}
.side-bar { /*1710*/
    width: 450px;
}
.sb-header {
    position: relative;
    margin-bottom: 16px;
}
.sb-header::before {
    content: '';
    position: absolute;
    left: 0; bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #0681d3, #6ebcf0);
}
.sb-box {
    width: 100%;
    min-height: 96px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    margin-bottom: 16px; padding: 12px;
}
.sb-categories-container {
    width: 100%;
}
.sb-categories {
    width: 100%;
    list-style: none;
}
.sb-c-li {
    overflow-y: hidden;
    transition: transform .5s;
}
.sb-subcategories {
    position: relative;
    top: 0;
    transition: .5s;
    height: 0;
}
.sb-c-li.show > .sb-subcategories {
    top: -100%;
    height: 450px;
}
.sb-subcategories {
    list-style: none;
    overflow: hidden;
    margin-left: 16px;
    padding-left: 6px;
    position: relative;
}
.d-subcategories {
    list-style: none;
    overflow-y: hidden;
    padding-left: 22px;
    transform: translateY(-500%);
    transition: 0s display, .4s transform;
}
.sb-sc-li.show > .d-subcategories {
    display: block;
    transform: translateY(0);
}
.sbb-header {
    padding: 4px 2px;
}
.checklist {
    list-style: none;
    margin: 0;
    padding: 0;
}
.chl-item > input[type="checkbox"] {
    margin-right: 8px;
}
.content-container {
    margin-top: 38px;
    position: relative;
}
.search-info {
    position: absolute;
    top: -32px;
}
.products-category > .header {
    height: 12px;
    font-size: 18px;
    font-weight: 600;
    padding: 22px 12px;
    justify-content: unset;
    border-bottom: 1px solid #6ebcf0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.products-category > .show-more {
    width: 100%;
    height: 12px;
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    padding: 22px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.products-category > .show-more > i {
    margin-left: 6px;
}
.products-category > .body {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(148px, auto) minmax(148px, auto) minmax(148px, auto) minmax(148px, auto) minmax(148px, auto) minmax(148px, auto) minmax(148px, auto) minmax(148px, auto);
    background: #fff;
    border-bottom: 1px solid #6ebcf0;
}
.category {
    height: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border: 1px solid #6ebcf0;
}
.category > .img {
    margin: 0 auto;
}
.products-sorting {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin: 16px 0;
    padding: 12px;
    border-radius: 4px;
}
.select {
    width: 52px;
    height: 32px;
    background: #fff;
    padding: 4px 8px;
    border: 1px solid #6ebcf0;
    border-radius: 4px;
}
.choices {
    width: 240px;
}
.s-pagination {
    margin-left: 24px;
}
.s-pagination > input {
    width: 48px;
    margin: 0 4px;
    padding: 8px;
    border: 1px solid #6ebcf0;
    border-radius: 4px;
}
.products-sorting > .sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products {
    width: 1220px;
}
.product {
    width: 100%;
    height: 280px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    margin-bottom: 24px;
    padding: 0 12px;
}
.product-header {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #0681d3;
}
.product-info {
    width: 60%;
    height: 238px;
    display: flex;
}
.product-img {
    width: 50%;
    height: 100%;
}
.product-img > img {
    width: 100%;
}
.product-details {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.product-detail {
    display: flex;
    font-size: 14px;
    line-height: 150%;
}
.product-detail > p {
    font-weight: 600;
    margin-left: 8px;
}
.product-order {
    width: 40%;
    height: 238px;
    display: flex;
    padding: 12px;
    flex-direction: column;
    border-left: 1px solid #6ebcf0;
}
.product-technical-data {
    width: 100%; height: 100%;
    border: 1px solid #0681d3;
    border-radius: 4px;
    margin-top: 12px;
    font-size: 12px;
    padding: 4px;
    overflow-y: scroll;
    display: none;
    opacity: 0;
    transition: .5s;
}
.product-technical-data > .data {
    display: flex;
    border-bottom: 1px solid #6ebcf0;
}
.product-technical-data > .data > p {
    font-weight: 600;
    margin-right: 8px;
}
.product-technical-data > .data:last-child {
    border: none;
}
.product-technical-data.show {
    width: 100%; height: 50%;
    display: block;
}
.product-technical-btn {
    display: block;
    width: 84px;
    padding: 8px;
    margin-top: 6px;
    font-size: 12px;
    background: #0681d3;
    color: #fff;
    border: 1px solid #6ebcf0;
    outline: none;
    border-radius: 4px;
    text-align: center;
    transition: .5s;
    z-index: 5;
    cursor: pointer;
}
.product-technical-btn:active,
.product-technical-btn:hover,
.product-technical-btn:focus {
    transform: scale(105%);
}
.product-prince, .product-stats-info,
.product-stats-tools, .product-buy {
    width: 100%;
    display: flex;
    height: 100%;
}
.product-prince {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #6ebcf0;
}
.product-prince > p {
    margin: 0 4px;
    font-size: 22px;
    font-weight: 600;
}
.product-stats-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #6ebcf0;
}
.product-stats-info i {
    margin-right: 8px;
    color: #0681d3;
}
.product-stats-tools {
    border-bottom: 1px solid #6ebcf0;
}
.tools-btn {
    width: 100%;
    margin: 4px 8px;
    background: #0681d3;
    border-radius: 2px;
    color: #a8d7f7;
    border: none;
    cursor: pointer;
    transition: .25s;
}
.tools-btn > i {
    margin-right: 4px;
}
.tools-btn:hover {
    background: #006fb9;
    color: #fff;
}
.product-buy {
    justify-content: space-between;
}
.product-buy-amount {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
.product-buy-input {
    width: 64px;
    height: 65%;
    border: none;
    border-bottom: 2px solid #6ebcf0;
    font-size: 16px;
    margin: 4px 8px;
    padding: 8px;
    outline: none;
}
.product-buy-btn {
    width: 100%;
    margin: 4px 8px;
    background: #06d354;
    border-radius: 2px;
    font-size: 14px;
    color: #c5f8e4;
    border: none;
    cursor: pointer;
    transition: .25s;
}
.product-buy-btn:hover {
    background: #00b919;
    color: #fff;
}